@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #4e2318;
  --terciary: #ea6a1f;
  --light-terciary: #eccab6;
}

body {
  color: var(--secondary);
  background: var(--background);
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .hero-bg-color {
    background-color: linear-gradient(to right, #eea849, #f46b45);
  }
}
