@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #4e2318;
  --terciary: #ea6a1f;
  --light_terciary: #eccab6;
}

body {
  color: var(--secondary);
  background-color: var(--primary);
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .hero-bg-color {
    background: linear-gradient(0deg, #eea849, #f46b45);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }

  .bg-light {
    background-color: var(--light_terciary);
  }

  .text-primary {
    color: var(--primary);
  }

  .main-cta {
    @apply bg-secondary text-primary font-bold text-3xl h-12 py-2 px-12 rounded-xl;
  }

  .content-center {
    @apply flex flex-col justify-center items-center;
  }
}
